<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <title>Albums</title>
</head>
<body>
    <div class="topsbar">
        <div class="minilogo" style="margin-top: 4px;" onclick="javascript:window.location='/'"></div>
    </div>
    <p class="albumslogo"> - Your Albums - </p>
    <header style="height: 80vh;">
        <div class="albumholder">
            <% AlbumTh.forEach((item,index) => { %>
                <div class="albumhold" onclick="redir('albums/<%= item.split('/')[2] %>')" style="margin-bottom: 25px; background-image: url('<%= item %>');">
                    <div class="test"></div>
                    <p><%= item.split('/')[2] %></p>
            </div>
            <% }); %>
        </div>
    </header>
    <script>
        function redir(page)
        {
            window.location=page
        }
    </script>
</body>
</html>
