<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <title>Albums</title>
</head>
<body>
    <div id="topsbar" class="topsbar">
        <div class="minilogo" onclick="redir('/')" style="margin-top: -10px;" onclick="javascript:window.location='/'"><a>▽</a></div>
    </div>
    <header style="height: 80vh;">
        <div class="albumholder">
            <p class="albumslogo">  ALBUMS  </p>
            <% AlbumTh.Thumbs.forEach((item,index) => { %>
                <div class="albumhold" onclick="redir('albums/<%= item.split('/')[2] %>')" style="background-image: url('<%= item %>');">
                    <div class="test"></div>
                    <div class="countHold">
                        <img src="../public/images/gallery.png" alt="">
                        <p class="galleryCount"><%= AlbumTh.GallCount[index] %></p>
                    </div>
                    <p class="albumName"><%= item.split('/')[2] %></p>
            </div>
            <% }); %>
            <div style="height:500px; width: 100%;"></div>
        </div>
    </header>
    <script src="../public/javascripts/uiHandlers.js"></script>
</body>
</html>
