<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbuns</title>
</head>
<body>
    <h3><%= Album %></h3>
    <div class="galleryHolder">
        <% Thumbs.forEach(item => { %>
            <div class="galleryItem">
                <div class="fadeDiv">
                    <div class="txtGalHold" onclick="javascript:window.location='/albums/<%= item.split('/')[2] +'/'+ item.split('/')[3] %>'">
                        <p class="txtGal"><%= item.split('/')[3] %></p>
                    </div>
                </div>
                <img class="gallerieThumb" src="/<%= item %>">

                
            </div>
        <% }); %>
    </div>
</body>
</html>
