<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <title>Álbuns</title>
</head>
<body>
    <div class="topsbar">
        <div class="minilogo" onclick="redirBack()" style="margin-top: 4px;" onclick="javascript:window.location='/'"></div>
    </div>
    <div class="galleryHolder">
        <p class="albumslogo"><%= Album %></p>
        <% Thumbs.forEach(item => { %>
            <div class="galleryItem">
                <div class="fadeDiv">
                    <div class="txtGalHold" onclick="javascript:window.location='/albums/<%= item.split('/')[2] +'/'+ item.split('/')[3] %>'">
                        <p class="txtGal"><%= item.split('/')[3] %></p>
                    </div>
                </div>
                <img class="gallerieThumb" src="/<%= item %>">

                
            </div>
        <% }); %>
        <div style="height:500px; width: 100%;"></div>
    </div>
    <script>
        function redirBack()
        {
            window.history.go(-1);
        }
    </script>
</body>
</html>
