<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IO Gallery</title>
</head>
<body>
    <h2>IO_Gallery</h2>
    <h3><a href="/girls">GIRLS</a></h3>
</body>
</html>