<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favico/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favico/site.webmanifest">
    <title>IO Gallery</title>
</head>
<body>
    <header class="header" style="width: 100%; height: 100vh;">
        <div class="howToHolder">
            <button>i</button>
            <p class="head">How to Use</p>
            <div class="txtHold">
            <p> 1 • Navigate to the /Public folder of this project;</p>
            <p> 2 • Create a new folder with the name Albums</p>
            <p> 3 • Inside Albums, create albums folders with any name</p>
            <p> 4 • Add galleries folders to the respective albums folders</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>     The filesystem should look like this:</p>
            <br>
            <br>
            <p>   ROOT                       ALBUMS                                GALERIES</p>
            <br>
            <br>
            <p>                                                               ┌──── Landscape</p>
            <p>                   ┌──── Digital-Art/ ──┼──── Portraits</p>
            <p>   Albums/ -┤                                         └──── Nature</p>
            <p>                   │</p>
            <p>                   └──── Photography/ ─┬───── Vecations 2015</p>
            <p>                                                                 └───── My Dog</p>
            </div>
        </div>
        <div class="logoholder">
            <div class="logo1"></div>
            <div class="logo2"></div>
            <div class="logo3"></div>
            <div class="logo4"></div>
            <div class="logo5"></div>
            <div class="logo6"></div>
            <div class="logo7" onclick="redir('/albums')"></div>
        </div>
        <div class="iohold">
            <p type="button">IO_Gallery</p>
        </div>
    </header>
    <div class="foot"><p>Copyright © 2021 Joseph-Kaiser</p></div>
    <script defer src="../public/javascripts/uiHandlers.js"></script>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js"></script>
    <script src="/public/javascripts/parallax.js"></script>
</html>