<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IO Gallery</title>
</head>
<body>
    <header class="header">
        <div class="logoholder">
            <div class="logo1"></div>
            <div class="logo2"></div>
            <div class="logo3"></div>
            <div class="logo4"></div>
            <div class="logo5"></div>
            <div class="logo6"></div>
            <div class="logo7"></div>
        </div>
        <div class="iohold" >
            <p type="button" onclick="javascript:window.location='/albums'">IO_Gallery</p>
        </div>
        
    </header>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/utils/Draggable.min.js"></script>
    <script src="/public/javascripts/parallax.js"></script>
</html>