@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /*background-color: black;*/
    background-image: url("/public/images/backsalt.jpg");
    overflow:auto;
    object-fit: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h2{
    color: white;
}
h3{
    color: white;
}

p{
    color: white;
}

header{
    width: 100%;
    height: 100vh;

    .logoholder{
        width: 600px;
        height: 450px;
        margin: auto;
        margin-top:20vh;
        /*background-color: grey;*/

        .logo7{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo7alt.png');
            position: absolute;
        }
        .logo6{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo6alt.png');
            position: absolute;
        }
        .logo5{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo5alt.png');
            position: absolute;
        }
        .logo4{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo4alt.png');
            position: absolute;
        }
        .logo3{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo3alt.png');
            position: absolute;
        }
        .logo2{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo2alt.png');
            position: absolute;
        }
        .logo1{
            width: 600px;
            height: 450px;
            background-image: url('/public/images/logo1alt.png');
            position: absolute;
        }
    }

    .iohold{
        height: auto;
        width: 400px;
        outline-color: rgba(255, 255, 255, 0);
        outline-width: 1.5px;
        outline-style: solid;
        border-radius: 0px;
        margin: auto;
        transition: 0.3s;

        &:hover{
            outline-color: rgb(255, 255, 255);
        }

        p{
            color: white;
            font-family: 'Unica One', cursive;
            font-size: 50px;
            margin:auto;
            text-align: center;
        }
    }

    .albumholder{
        width: 40vw;
        height: auto;
        outline-color: rgba(255, 255, 255, 0.534);
        outline-width: 1.5px;
        outline-style: solid;
        border-radius: 0px;
        margin: auto;
        
        .albumhold{
            height: auto;
            width: 400px;
            outline-color: rgba(255, 255, 255, 0);
            outline-width: 1.5px;
            outline-style: solid;
            border-radius: 0px;
            margin: auto;
            transition: 0.3s;
    
            &:hover{
                outline-color: rgb(255, 255, 255);
            }
    
            p{
                color: white;
                font-family: 'Unica One', cursive;
                font-size: 35px;
                margin:auto;
                text-align: center;
            }
        }
    }
}

.topsbar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);

    .backg{
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Unica One', cursive;
        margin-left: 15px;
    }

    .minilogo{
        display: flex;
        width: 40px;
        height: 40px;
        background-image: url("/public/images/minilogo.png");
        background-size: cover;
        margin: auto;
        opacity: 0.25;
        transition: 0.2s;

        &:hover{
            opacity: 0.9;
            transform:scale(1.1,1.1);
            -webkit-transform:scale(1.1,1.1);
            -moz-transform:scale(1.1,1.1);    

            -webkit-filter: drop-shadow(10px 10px 10px #222);
            filter: drop-shadow(10px 10px 10px #222);
        }
    }
}

.albumslogo{
    color: white;
    font-family: 'Unica One', cursive;
    margin: auto;
    font-size: 50px;
    margin: 25px 0px 25px 0px;
}

.galleryHolder{
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
    
    .galleryItem{
        display: flex;
        align-items: center;
        height: 360px;
        width: 240px;
        background-size: cover;
        margin:25px 25px 0px 0px;
        $p: &;
        transition: 0.5s;

        &:hover {
            transform:scale(1.05,1.05);
            -webkit-transform:scale(1.05,1.05);
            -moz-transform:scale(1.05,1.05);
        }

        .fadeDiv{
            height: 360px;
            width: 240px;
            background-color: rgba(54, 54, 54, 0);
            /*opacity: 0;*/
            position: absolute;
            z-index: 3;
            transition: 0.2s;

            &:hover{
                background-color: rgba(54, 54, 54, 0.308) !important; 
                box-shadow: inset 0px 0px 45px rgba(0,0,0,0.5) !important; 
                position: absolute;
                /*height: 375px;
                width: 250px;*/
            }
            
            .txtGalHold{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                justify-items: center;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: 0.3s;
                z-index: 4;
    
                &:hover{
                    opacity: 1;
                }
    
                .txtGal{
                    display: flex;
                    color: white;
                    /*font-family: 'Noto Serif', serif;*/
                    font-family: 'Unica One', cursive;
                    position: absolute;
                    text-align: justify;
                    padding: 5px;
                    opacity: 1;
                    margin: auto;
                    z-index: 3;
                    max-width: 240px;
                    transition: 0.3s;
    
                    
                }
            }
        }
        .gallerieThumb{
            width: inherit;
            height: inherit;
            overflow: hidden;
            object-fit: cover;
            background-size: cover;
            background-position: center;
            position: absolute;
            z-index: 2;
        }
    }
}

.galleryHolderInner{
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;

    .galleryItemInner{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: auto;
        max-height: 360px;
        min-height: 360px;
        background-size: cover;
        margin:10px 10px 0px 0px;
        transition: 0.3s;

        &:hover{
            transform:scale(1.15,1.15);
            -webkit-transform:scale(1.15,1.15);
            -moz-transform:scale(1.15,1.15);

            -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.65);
            box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.65);
            z-index: 10;
        }

        &:focus{
            transform:scale(5,5);
            -webkit-transform:scale(5,5);
            -moz-transform:scale(5,5);
        }

        .gallerieImage{
            width: auto;
            height: auto;
            max-height: 360px;
            min-height: 360px;
            overflow: hidden;
            object-fit: cover;
            background-size: cover;
            background-position: center;
        }
    }
}