@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

$small: 450px;
$medium: 900px;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /*background-color: black;*/
    background-image: url("/public/images/backs3.jpg");
    overflow:auto;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(41, 41, 41);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(41, 41, 41);  
}


h2{
    color: white;
}
h3{
    color: white;
}

p{
    color: white;
}

header{
    height: 100vh;

    .logoholder{
        width: 600px;
        height: 450px;
        margin: auto;
        margin-top:20vh;
        /*background-color: grey;*/
        @media screen and (max-width: $medium) {
            width: 325px;
            height: 232px;
        }

        .logo7{
            background-image: url('/public/images/logo7alt.png');
            width: 600px;
            height: 450px;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            @media screen and (max-width: $medium) {
                width: 325px;
                height: 232px;
            }
        }
        .logo6{
            @extend .logo7;
            background-image: url('/public/images/logo6alt.png');
        }
        .logo5{
            @extend .logo7;
            background-image: url('/public/images/logo5alt.png');
        }
        .logo4{
            @extend .logo7;
            background-image: url('/public/images/logo4alt.png');
        }
        .logo3{
            @extend .logo7;
            background-image: url('/public/images/logo3alt.png');
        }
        .logo2{
            @extend .logo7;
            background-image: url('/public/images/logo2alt.png');
        }
        .logo1{
            @extend .logo7;
            background-image: url('/public/images/logo1alt.png');
        }
    }

    .iohold{
        height: auto;
        width: 400px;
        outline-color: rgba(255, 255, 255, 0);
        outline-width: 1.5px;
        outline-style: solid;
        border-radius: 0px;
        margin: auto;
        transition: 0.3s;
        @media screen and (max-width: $medium) {
            width: 200px;
        }

        //&:hover{
        //    outline-color: rgb(255, 255, 255);
        //}

        p{
            color: white;
            font-family: 'Unica One', cursive;
            font-size: 50px;
            margin:auto;
            text-align: center;
            @media screen and (max-width: $medium) {
                font-size: 30px;
            }
        }
    }

    .albumholder{
        height: auto;
        max-width: 1650px;
        background-color: rgba(0, 0, 0, 1);
        //background-image: linear-gradient(to top, rgb(0, 0, 0,0), rgba(0, 0, 0), rgba(0, 0, 0));
        //background-image: linear-gradient(to right, rgb(0, 0, 0, 0),
        //rgba(0, 0, 0),rgba(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0), 
        //rgba(0, 0, 0,0)), linear-gradient(to bottom, rgb(0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 75px;
        padding: 5px 5px 5px 5px;
        @media screen and (max-width: 1920px) {
            width: 1230px;
        }
        @media screen and (max-width: 1260px) {
            width: 820px;
        }
        @media screen and (max-width: $medium) {
            width: 620px;
        }
        @media screen and (max-width: $small) {
            width: 310px;
        }

        .albumhold{
            display: flex;
            width: 400px;
            height: 400px;
            background-size: cover;
            transition: 0.3s;
            justify-content: center;
            align-items: flex-end;
            margin: 5px 5px 5px 5px;
            transition: 0.3s;
            @media screen and (max-width: $medium) {
                width: 300px;
                height: 300px;
            }

            &:hover{

                .albumName{
                    opacity: 0.2;
                }
                .test{
                    opacity: 0.1;
                }
            }
            .test{
                width: 400px;
                height: 400px;
                transition: 0.4s;
                background-image: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0));
                display: flex;
                justify-content: right;

                @media screen and (max-width: $medium) {
                    width: 300px;
                    height: 300px;
                }
            }

            .countHold{
                display: flex;
                flex-direction: row;
                width: auto;
                position: absolute;
                border: rgba(255, 255, 255, 0.4);
                border-style: solid;
                border-width: 0.5px;
                background-color: rgba(0, 0, 0, 0.219);
                opacity: 0.9;
                margin: 0px 0px 360px 340px;

                @media screen and (max-width: $medium) {
                    margin: 0px 0px 260px 240px;
                }

                img{
                    height: 20px;
                    width: 20px;
                    margin:5px 5px 0px 5px;
                }

                .galleryCount{
                    color: white;
                    font-family: 'Unica One', cursive;
                    font-size: 20px;
                    margin:3px 5px 3px 0px;
                }
            }
    
            .albumName{
                color: white;
                font-family: 'Unica One', cursive;
                font-size: 35px;
                margin:auto;
                text-align: center;
                position: absolute;
                margin-bottom: 15px;
                transition: 0.3s;
                opacity: 0.8;
            }
        }
    }
}

.topsbar{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);

    .backg{
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: 'Unica One', cursive;
        margin-left: 15px;
    }

    .minilogo{
        display: flex;
        width: 40px;
        height: 40px;
        background-image: url("/public/images/minilogo.png");
        background-size: cover;
        margin: auto;
        opacity: 0.35;
        transition: 0.2s;

        &:hover{
            opacity: 0.9;
            transform:scale(1.1,1.1);
            -webkit-transform:scale(1.1,1.1);
            -moz-transform:scale(1.1,1.1);    

            -webkit-filter: drop-shadow(10px 10px 10px #222);
            filter: drop-shadow(10px 10px 10px #222);
        }
    }
}

.albumslogo{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    margin: auto;
    font-size: 50px;
    margin: 5px 0px 5px 0px;
    width: 100%;
    text-align: center;
}

.galleryHolder{
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 75px;
    background-color: black;
    padding: 5px 5px 5px 5px;
    @media screen and (max-width: 1920px) {
        width: 1230px;
    }
    @media screen and (max-width: 1260px) {
        width: 820px;
    }
    @media screen and (max-width: $medium) {
        width: 620px;
    }
    @media screen and (max-width: $small) {
        width: 310px;
    }
    
    .galleryItem{
        display: flex;
        align-items: center;
        height: 500px;
        width: 340px;
        background-size: cover;
        margin: 5px 5px 5px 5px;
        $p: &;
        transition: 0.5s;
        @media screen and (max-width: $medium) {
            height: 320px;
            width: 240px;
        }

        /*&:hover {
            transform:scale(1.02,1.02);
            -webkit-transform:scale(1.02,1.02);
            -moz-transform:scale(1.02,1.02);
        }*/

        .fadeDiv{
            height: 500px;
            width: 340px;
            //background-color: rgba(54, 54, 54, 0);
            background-image: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0));
            /*opacity: 0;*/
            position: absolute;
            z-index: 3;
            transition: 0.2s;
            @media screen and (max-width: $medium) {
                height: 320px;
                width: 240px;
            }

            &:hover{
                //background-color: rgba(0, 0, 0, 0.308) !important; 
                //box-shadow: inset 0px 0px 45px rgba(0,0,0,0.5) !important; 
                opacity: 0.1;
                position: absolute;
                /*height: 375px;
                width: 250px;*/
            }
            
            .txtGalHold{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                justify-items: center;
                justify-content: center;
                align-items: center;
                opacity: 0.9;
                transition: 0.3s;
                z-index: 4;
    
                &:hover{
                    opacity: 0.8;
                }
    
                .txtGal{
                    display: flex;
                    color: white;
                    /*font-family: 'Noto Serif', serif;*/
                    font-family: 'Chakra Petch', sans-serif;
                    position: absolute;
                    text-align: justify;
                    padding: 5px;
                    opacity: 1;
                    margin: auto;
                    z-index: 3;
                    max-width: 240px;
                    transition: 0.3s;
                    font-size: 30px;
                    margin-bottom: -350px;
                    @media screen and (max-width: $medium) {
                        font-size: 22px;
                        margin-bottom: -200px;
                    }
                }
            }
        }
        .gallerieThumb{
            width: inherit;
            height: inherit;
            overflow: hidden;
            object-fit: cover;
            background-size: cover;
            background-position: center;
            position: absolute;
            z-index: 2;
        }
    }
}

.galleryHolderInner{
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;

    .galleryItemInner{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: auto;
        max-height: 360px;
        min-height: 360px;
        background-size: cover;
        margin:10px 10px 0px 0px;
        transition: 0.3s;

        &:hover{
            transform:scale(1.15,1.15);
            -webkit-transform:scale(1.15,1.15);
            -moz-transform:scale(1.15,1.15);

            -webkit-box-shadow: 0px 0px 50px -2px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.65);
            box-shadow: 0px 0px 50px -2px rgba(0,0,0,0.65);
            z-index: 10;
        }

        &:focus{
            transform:scale(5,5);
            -webkit-transform:scale(5,5);
            -moz-transform:scale(5,5);
        }

        .gallerieImage{
            width: auto;
            height: auto;
            max-height: 360px;
            min-height: 360px;
            overflow: hidden;
            object-fit: cover;
            background-size: cover;
            background-position: center;
        }
    }
}